@import "loading.css";

.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}

.hidden {
    display: none;
}

.input-group {
    margin-bottom: 10px;
    justify-content: flex-end;
}

.input-group > :first-child {
    margin-left: 0;
}

.input-group > * {
    margin-left: 5px;
}

.progression {
    position: relative !important;
    text-align: center;
    margin: 0 auto;
}

#rate-limit {
    font-size: x-small;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

#form > .hidden {
    display: none;
}